.depend
.deps

*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o
*.a

Makefile.in
Makefile

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/virt-similarity.1
/virt-similarity.spec
/virt-similarity-*.tar.gz
